<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student details </title>
</head>
<body>
    <h1>student details</h1>
    <dl>
        <dt> First Name</dt>
        <dd> {{student.firstName}}</dd>
        <dt> Last Name</dt>
        <dd> {{student.lastName}}</dd>
        <dt> birth</dt>
        <dd> {{student.dob}}</dd>
        <dt> interetst is </dt>
        <dd> {{student.interest}}</dd>
    </dl>
    <u1>
        {{#each numbers}}
        <li>{{this}}</li>
        {{/each}}
    </u1>
</body>
</html>